@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.rwd-table {
  margin: 1em 0;
  width: 100%;
  text-align: center;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table {
    text-align: center;
    min-width: 200px;
  }
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}


.rwd-table {
  /*background: #252525;*/
  color: #cfcfcf;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.rwd-table tr {
  border: none;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #ddbc21;
}

.td01 {
  position: relative;
  top: 10px;
  width: 5%;
}

.td02 {
  width: 60%;
}

.td03 {
  width: 20%;
}

.td04 {
  position: relative;
  top: 5px;
  width: 15%;
}

input.top3 {
  padding: 0 10px;
  width: 100%;
}

input.top {
  padding: 0 10px;
  background-color: #4a4a4a;
  width: 100%;
  border: none;
}

input.top1 {
  padding: 0 10px;
  background-color: #4a4a4a;
  border: none;
}
